.download-now {
  text-align: center;
  background-color: #fbf28b;
  color: #1f211d;
  font-size: 16px;
  font-weight: 600;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-now .close-btn {
  font-size: 24px;
  cursor: pointer;
}

.download-now p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.download-now p span {
  font-weight: 800;
}

.popular-items-slick .slick-dots {
  justify-content: center;
  padding-top: 1rem;
}

.popular-items-slick .slick-dots li button {
  background-color: #fff;
}

.popular-items-slick .slick-dots .slick-active button {
  background-color: var(--color-primary);
}

.popular-items-slick .slick-prev,
.offer-slick .slick-prev{
  position: absolute;
  top: 45%;
  left: -4%;
}

.popular-items-slick .slick-next,
.offer-slick .slick-next{
  position: absolute;
  top: 45%;
  right: -4%;
}



.slick-popup-slider .slick-prev {
  position: absolute;
  top: 45%;
  left: -10%;
}

.slick-popup-slider .slick-next {
  position: absolute;
  top: 45%;
  right: -10%;
}








/* slick-popup-slider */

.popular-items-slick .slick-next,
.popular-items-slick .slick-prev,
.offer-slick .slick-next,
.offer-slick .slick-prev,
.slick-popup-slider .slick-next,
.slick-popup-slider .slick-prev{
  background-color: var(--color-primary);
  color: #fff;
  padding: 0.25rem 0.7rem;
  border-radius: 23px;
  transition: 0.3s all ease;
}

.popular-items-slick .slick-next:hover,
.popular-items-slick .slick-prev:hover,
.offer-slick .slick-next:hover,
.offer-slick .slick-prev:hover ,
.slick-popup-slider .slick-next:hover,
.slick-popup-slider .slick-prev:hover {
  background-color: #1f211d;
}

.partner-one-section ul li::marker {
  color: #ee4a51;
}

.block-title a:link,
.block-title a:visited {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 2.5rem !important;
  text-transform: capitalize;
}

.block-title a:hover,
.block-title a:active {
  text-decoration: none;
}

.block-one h4,
.block-four h4 {
  color: #fff;
}

.offer-slick .slick-dots {
  justify-content: end;
  padding-top: 0.5rem;
}

.slick-popup-slider .slick-dots{
  justify-content: center;
  padding-top: 0.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30%;
}


.offer-slick .slick-dots li button {
  background-color: #fff;
}

.slick-popup-slider .slick-dots li button {
  background-color: #fff;
}


.offer-slick .slick-dots .slick-active button {
  background-color: var(--color-primary);
}

.slick-popup-slider .slick-dots .slick-active button {
  background-color: var(--color-primary);
}



#popupModal .modal-content{
  border-radius: 60px;
  padding: 1rem;
}






.empty-section-1{
    height: 300px;
    width: 100%;
    margin-bottom: 1rem;
    background-color: var(--color-primary);
}

.news-action{
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 1.5rem 0;
}

.news-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    border-top: 1px solid #D2D2D2;
}

.sub-categories a{
  font-size: 14px;
  transition: 0.3s all ease;
  background-color: #fff;
  color: #1F211D99;
}

.sub-categories a:hover,
.sub-categories a:active{
  background-color: #1F211D;
  color: #fff;
}

.sub-categories a.active{
  background-color: #1F211D;
  color: #fff;
}


.menu-content .card-style-fifteen .round-btn {
  position: absolute;
  font-size: 14px;
  width: 90%;
  height: auto;
  background: transparent;
  color: #fff !important;
  opacity: 0;
}

.menu-content .card-style-fifteen:hover .round-btn {
  opacity: 1;
}

.menu-content .card-style-fifteen .media:before{
  background: rgba(0, 0, 0, 0.7);
}

.menu-content .card-style-fifteen .news-action h5{
    padding-top: 10px !important;
}

.menu-content h1, .section-location{
  font-weight: 700;
  color: #1F211D !important;
}


.location-card{
  padding: 2.5rem;
  border-radius: 28px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  border: none;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.location-card ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.location-card ul li img{
  width: 16px;
  height: 24px;
}

.location-card ul li{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.location-card ul li p{
  margin: 0;
}

.location-card ul li a{
  text-decoration: underline;
}

.section-aboutus .get-app{
  border-top: 1px dashed #FFFFFF80;
}

.accordion-item{
  background-color: transparent !important;
}

.section-aboutus .faq-section-three nav .nav .nav-link {
  background: transparent;
  border: 0;
  height: auto !important;
  border-radius: 0;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  padding: 10px 30px;
  margin: 0 5px 10px;
  background-color: #fff !important;
  transition: 0.3s all ease;
}

.section-aboutus .faq-section-three nav .nav .nav-link:active,
.section-aboutus .faq-section-three nav .nav .nav-link:hover{
  background-color: #000000 !important;
  color: #fff;
}


.faq-section-three nav .nav .nav-link.active {
  background-color: #000000 !important;
  color: #fff;
}

.faq-section-three .tab-content{
  background:transparent;
}

.secondary-menu{
margin-left: 1rem;
}


/*Sidenav Styling*/


.facilities_cards_area {
  margin-top: 5rem;
}
.facilities_area_heading h1 {
  font-size: 4rem;
  font-weight: bolder;
  color: #1290e2;
}
.f_three_cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.facility_card {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  height: 22rem;
  text-align: center;
  width: 30%;
  margin-top: 2rem;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  /* box-shadow: 2px 2px 2px 2px lightgray; */
  background-color: #ffffff;
  border: 1px solid #cccccc;
  animation: 1.5s ease-out 0s 1 slideInFromLeft;
}
@keyframes slideInFromLeft {
  0% {
      transform: translateX(-500%);
  }
  100% {
      transform: translateX(0);
  }
}
.facility_card:hover {
  transform: scale(1.06);
  transition: 0.2s all;
  transition-timing-function: ease-in-out;
}
.facility_card a {
  text-decoration: none;
}
.facility_card p {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-left: 2rem;
  text-align: left;
}
.facility_card h1 {
  font-size: 3rem;
  font-weight: bolder;
  color: black;
  text-align: center;
  margin-left: 5rem;
}
.fc_card_img_area img {
  width: 5rem;
  height: 5rem;
  margin-top: 3rem;
}
.facility_arrow_icon_div {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 2px solid #1290e2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.facility_arrow_icon_div:hover {
  background-color: #1290e2;
}
.facility_arrow_icon_div img {
  width: 3rem;
  height: 3rem;
  display: inline;
}
.facility_arrow_icon_div:hover img {
  filter: brightness(0) invert(1);
}
.empty_dashboard {
  width: 100%;
  height: 5rem;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99999999;
  top: 0;
  right: 0;
  background-color: #ffffff;
  box-shadow:1px 1px 8px 1px gray;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border-radius:10px; */
}

.sidenav .secondary-nav-links a {
  padding: 8px 8px 8px 0;
  text-decoration: none;
  /*font-size: 2rem;*/
  color: #000000;
  display: flex;
  transition: 0.3s;
  line-height: 3;
  align-items: center;
  margin-bottom: .25rem;
  margin-left: 2rem;
  margin-right: 5rem;
  text-transform: uppercase;
  border-bottom: 1px solid #C6C6C6;
  font-weight: 500;
}

.sidenav .secondary-nav-links a:hover {
  /* color: #1290e2; */
  border-bottom-color: #1F211D;
  font-weight: 700;
}

.sidenav .secondary-nav-links a img{
  display: none;
  transition: 0.3s all ease;
}

.sidenav .secondary-nav-links a:hover img{
  display: block;
}



.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 2rem;
  margin-left: 50px;
}
.sidenav img {
  /* width: 2.5rem;
  height: 2.4rem; */
  margin-right: 1.2rem;
  transition: 0.3s all ease;
}
@media only screen and (max-width: 990px) {
  .f_three_cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .facility_card {
      margin-top: 2rem;
      width: 70%;
  }
  .facility_card h1 {
      font-size: 2rem;
      font-weight: bolder;
      color: black;
  }
  .facility_card p {
      margin-top: 3rem;
  }
  .facility_card {
      display: flex;
      /* flex-direction: column; */
      height: 25rem;
      text-align: center;
      width: 90%;
      margin-top: 2rem;
      border-radius: 20px;
      justify-content: center;
      align-items: center;
      box-shadow: 2px 2px 2px 2px lightgray;
      background-color: #ffffff;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
      padding-top: 1.5rem;
  }
  .sidenav a {
      /*font-size: 1.8rem;*/
  }
}


.social-icons{
  padding: 1rem;
  background-color: #000000;
}

.social-icons ul{
  margin: 0;
  padding: 0 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-icons img{
  height: 22px;
}